.banner {
    text-align: center;
    padding-top: 140px;
    padding-bottom: 100px;
    background-position: center center;
    background-image: url(https://www.itgholding.com/upl/big/slc_cover_img_24.jpg);
}
.bannerImage {
    animation: border-transform 10s linear infinite alternate forwards;
    width: 80%;
}
.coverText {
    color: black;
}