.careers {

}
.sectionTitle {
    text-align: center;
    margin: -5px auto 60px;
    max-width: 720px;
}
.singleTable {
    margin-bottom: 30px;
    background-color: #ffffff;
    padding-bottom: 30px;
    border-radius: 5px;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.tableHeader {

}
.tablePrice {
    color: #18181b;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    padding: 10px 40px;
    border-top: 2px dashed #f4f5fe;
    border-bottom: 2px dashed #f4f5fe;
    font-size: 40px;
    font-weight: bold;
}
.tableFeatures {
    margin: 0;
    padding: 30px 40px;
    list-style-type: none;
}