.careers {
    padding-bottom: 60px;
    padding-top: 100px;
}
.sectionTitle {
    text-align: center;
    margin: -5px auto 60px;
    max-width: 720px;
}
.singleTable {
    margin-bottom: 30px;
    background-color: #ffffff;
    padding-bottom: 30px;
    border-radius: 5px;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.tableHeader {
    margin-bottom: 15px;
    font-weight: 500;
    line-height: 1.2;
    font-size: 20px;
}
.tablePrice {
    color: #18181b;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    padding: 10px 40px;
    border-top: 2px dashed #8a8a8d;
    border-bottom: 2px dashed #8a8a8d;
    font-size: 25px;
    font-weight: bold;
}
.tableFeatures {
    margin: 0;
    padding: 30px 40px;
    list-style-type: none;
}