.contact {
    padding-bottom: 40px;
    padding-top: 80px;
    color: #ffffff;
    margin: 20px;
}
.contactInnerArea {
    background-color: #173156;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    padding: 40px 30px;
    text-align: center;
}