.testimonials {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://previews.123rf.com/images/1stchoice/1stchoice1403/1stchoice140300014/26606208-grey-background-texture.jpg);
    padding-top: 100px;
    padding-bottom: 100px;
    color: black;
    text-align: center;
}

.feedbackList {

}

.singleFeedback {
    text-align: center;
    max-width: 755px;
    margin: 0 auto;
}

.quotesIcon {
    background: -webkit-gradient(linear, right bottom, left top, from(#00AEFF), to(#173156));
    background: linear-gradient(to left top, #00AEFF, #173156);
    margin: 0 auto 35px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
}